{% extends 'admin/admin.html.twig' %}

{% block title %}Recette : {{recipe.title}}{% endblock %}

{% block body %}
<h1>{{ recipe.title}}</h1>
<p>
    <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="">
</p>
{{form_start(form)}}
<div class="d-flex">
{{form_row(form.title)}}
{{form_row(form.duration)}}
</div>
{{form_rest(form)}}
{{form_end(form)}}
 {% endblock %}



